<th:block th:replace="~{fragments/html_blocks :: start_block}" />
<th:block th:replace="~{fragments/head_titles :: title1}" />
<th:block th:replace="~{fragments/html_blocks :: links_block}" />
    <div th:replace="~{fragments/navbar :: navbar}">{navbar}</div>
    <div class="container p-3 justify-content-center w-50"><th:block th:replace="~{fragments/global_notifications :: global_notifications}" /><th:block th:if="${course_view}"><th:block th:if="${course_view}" sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')">
        <div class="mx-auto col-lg-6 col-md-6 col-sm-6 text-end w-75 mb-1">
            <span><th:block sec:authorize="hasAuthority('EDITOR')">[ <a th:href="@{/courses/edit/{id}(id=${course_view.id})}">edit</a> ]</th:block><th:block sec:authorize="hasAuthority('ADMIN')">[ <a th:href="@{/admin/courses/delete/{id}(id=${course_view.id})}" onclick="return confirm('Are you sure?')">delete</a> ]</th:block></span>
        </div></th:block>
        <form th:object="${course_view}" name="form_disabled_course_profile" id="form_disabled_course_profile" method="POST">
        <div class="mx-auto col-lg-6 col-md-6 col-sm-6 card w-75">
            <div class="card-header"><h4>Course profile</h4></div>
            <div class="card-body">
                <div class="mb-0 mt-0">
                    <label for="name" class="form-label">Course name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" th:field="*{name}" disabled>
                </div>
                <div class="mb-3 mt-3">
                    <label for="description" class="form-label">Course description:</label>
                    <textarea class="form-control" rows="3" id="description" placeholder="Enter description" name="description" th:field="*{description}" disabled></textarea>
                </div>                
            </div>
        </div>
        </form><br /><th:block th:if="${err_upd_course_lecturers}">
        <div class="mx-auto col-lg-6 col-md-6 col-sm-6 alert alert-danger text-center w-75" style="max-width: 640px;" th:each="err : ${err_upd_course_lecturers}">
            <span th:text="${err}"></span>
        </div></th:block><th:block th:if="${msg_upd_course_lecturers}">
        <div class="mx-auto col-lg-6 col-md-6 col-sm-6 alert alert-secondary text-center w-75" style="max-width: 640px;" th:each="msg : ${msg_upd_course_lecturers}">
            <span th:text="${msg}"></span>
        </div></th:block>
        <table class="table">
            <thead class="table-success">
                <tr>
                    <th>Lecturer</th><th:block sec:authorize="hasAuthority('EDITOR') or hasAuthority('ADMIN')">
                    <th width="100">Actions</th></th:block>
                </tr>
            </thead>
            <tbody th:if="${course_view.getLecturers()} and ${course_view.getLecturers().size()} > 0">
                <tr th:each="lecturer : ${course_view.getLecturers()}">
                    <td th:text="${lecturer.firstName} + ' ' + ${lecturer.lastName}">{lecturer}</td><th:block sec:authorize="hasAuthority('EDITOR') or hasAuthority('ADMIN')">
                    <td><a th:href="@{/courses/edit/{id_course}/lecturers/delete/{id_lecturer}(id_course=${course_view.id}, id_lecturer=${lecturer.id})}" onclick="return confirm('Are you sure?')" th:text="'remove'">remove</a></th:block></td>
                </tr>
            </tbody>
        </table><br /><th:block th:if="${err_upd_course_groups}">
        <div class="mx-auto col-lg-6 col-md-6 col-sm-6 alert alert-danger text-center w-75" style="max-width: 640px;" th:each="err : ${err_upd_course_groups}">
            <span th:text="${err}"></span>
        </div></th:block><th:block th:if="${msg_upd_course_groups}">
        <div class="mx-auto col-lg-6 col-md-6 col-sm-6 alert alert-secondary text-center w-75" style="max-width: 640px;" th:each="msg : ${msg_upd_course_groups}">
            <span th:text="${msg}"></span>
        </div></th:block>
        <table class="table">
            <thead class="table-success">
                <tr>
                    <th>Group</th><th:block sec:authorize="hasAuthority('EDITOR') or hasAuthority('ADMIN')">
                    <th width="100">Actions</th></th:block>
                </tr>
            </thead>
            <tbody th:if="${course_view.getGroups()} and ${course_view.getGroups().size()} > 0">
                <tr th:each="group : ${course_view.getGroups()}">
                    <td th:text="${group.name}">{group}</td><th:block sec:authorize="hasAuthority('EDITOR') or hasAuthority('ADMIN')">
                    <td><a th:href="@{/courses/edit/{id_course}/groups/delete/{id_group}(id_course=${course_view.id}, id_group=${group.id})}" onclick="return confirm('Are you sure?')" th:text="'remove'">remove</a></th:block></td>
                </tr>
            </tbody>
        </table></th:block>
    </div>
    <br />
<th:block th:replace="~{fragments/html_blocks :: end_block}" />