<th:block th:replace="~{fragments/html_blocks :: start_block}" />
<th:block th:replace="~{fragments/head_titles :: title1}" />
<th:block th:replace="~{fragments/html_blocks :: links_block}" />
    <div th:replace="~{fragments/navbar :: navbar}">{navbar}</div>
    <div class="container p-3 justify-content-center w-50"><th:block th:replace="~{fragments/global_notifications :: global_notifications}" />
            <div class="clearfix">
                <span class="float-start"><th:block th:replace="~{fragments/modules :: moduleName1-h3}">{modules}</th:block></span><th:block sec:authorize="hasAuthority('ADMIN')">
                <span class="float-end mt-2">[ <a th:href="@{/admin/groups/new}">Add new Group</a> ]</span></th:block>
            </div>    
            <table class="table">
                <thead class="table-success">
                    <tr>
                        <th>Name</th><th:block sec:authorize="hasAuthority('EDITOR') or hasAuthority('ADMIN')">
                        <th width="200">Capacity</th>
                        <th class="text-center" width="100">Actions</th></th:block>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="group : ${groups}">
                        <td><a th:href="@{/groups/view/{id}(id=${group.id})}" th:text="${group.getName()}">${name}</a></td><th:block sec:authorize="hasAuthority('EDITOR') or hasAuthority('ADMIN')">
                        <td th:text="${group.getStudents().size()} + ' / ' + ${group.getCapacity()}">${capacity}</td>
                        <td class="text-center"><a th:href="@{/groups/edit/{id}(id=${group.id})}">edit</a><th:block sec:authorize="hasAuthority('ADMIN')"> / <a th:href="@{admin/groups/delete/{id}(id=${group.id})}" onclick="return confirm('Are you sure?')">delete</a></th:block></td></th:block>
                    </tr>
                </tbody>
            </table>
	</div>
<th:block th:replace="~{fragments/html_blocks :: end_block}" />