<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="start_block"><!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8"></th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="links_block"><link th:replace="~{fragments/head_links :: bootstrap_css}" />
<link th:replace="~{fragments/head_links :: bootstrap_js}" />
<link th:replace="~{fragments/head_links :: jquery_js}" />
</head>
<body></th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="end_block"></body>
</html></th:block>