<h2 xmlns:th="http://www.thymeleaf.org" th:fragment="moduleName0" th:text="${moduleName}">{moduleName}</h2>

<h3 xmlns:th="http://www.thymeleaf.org" th:fragment="moduleName0-h3" th:text="${moduleName}">{moduleName}</h3>

<h4 xmlns:th="http://www.thymeleaf.org" th:fragment="moduleName0-h4" th:text="${moduleName}">{moduleName}</h4>
    
<h2 xmlns:th="http://www.thymeleaf.org" th:fragment="moduleName1" th:text="${moduleName} + '[' + ${entitiesCount} +']'">{moduleName}</h2>

<h3 xmlns:th="http://www.thymeleaf.org" th:fragment="moduleName1-h3" th:text="${moduleName} + '[' + ${entitiesCount} +']'">{moduleName}</h3>