<th:block th:replace="~{fragments/html_blocks :: start_block}" />
<th:block th:replace="~{fragments/head_titles :: title1}" />
<th:block th:replace="~{fragments/html_blocks :: links_block}" />
    <div th:replace="~{fragments/navbar :: navbar}">{navbar}</div>
    <div class="container p-3 justify-content-center w-50"><th:block th:replace="~{fragments/global_notifications :: global_notifications}" />
        <div class="clearfix">
            <span class="float-start"><th:block th:replace="~{fragments/modules :: moduleName1-h3}">{modules}</th:block></span><th:block sec:authorize="hasAuthority('ADMIN')">
            <span class="float-end mt-2">[ <a th:href="@{/admin/students/new}">Add new Student</a> ]</span></th:block>
        </div>
        <table class="table">
            <thead class="table-success">
                <tr>
                    <th>Name</th>
                    <th width="30%">Group</th><th:block sec:authorize="hasAuthority('EDITOR') or hasAuthority('ADMIN')">
                    <th width="100">Actions</th></th:block>
                </tr>
            </thead>
            <th:block th:if="${studentComparator}" th:with="sortStudents = ${#lists.sort(students, studentComparator)}">
            <tbody>
                <tr>
                    <td th:colspan="${#authorization.expression('hasAnyAuthority(''EDITOR'', ''ADMIN'')')} ? 3 : 2" class="pt-0 pb-0">
                    <th:block th:each="student,iterStat : ${sortStudents}">
                        <a th:if="${iterStat.first}" th:href="'#' + ${#strings.toUpperCase(student.lastName[0])}" th:text="'#' + ${#strings.toUpperCase(student.lastName[0])}" th:class="'ms-0 me-1'">${student.lastName[0]}</a>
                        <th:block th:unless="${iterStat.first}">
                            <th:block th:if="(${#strings.toUpperCase(student.lastName[0])} != ${sortStudents[iterStat.index-1].lastName[0]})">
                            <a th:href="'#' + ${#strings.toUpperCase(student.lastName[0])}" th:text="'#' + ${#strings.toUpperCase(student.lastName[0])}" th:class="'me-1'">${student.lastName[0]}</a>
                            </th:block>
                        </th:block>
                    </th:block>
                    </td>
                </tr>
                <tr th:each="student,iterStat : ${sortStudents}">
                    <td th:if="${iterStat.first}"><a th:id="${#strings.toUpperCase(student.lastName[0])}" th:text="${student.lastName} + ' ' + ${student.firstName}">${student.name}</a></td><td th:unless="${iterStat.first}"><th:block th:if="(${student.lastName[0]} != ${students[iterStat.index-1].lastName[0]})"><a th:id="${#strings.toUpperCase(student.lastName[0])}" th:text="${student.lastName} + ' ' + ${student.firstName}">${student.name}</a></th:block><th:block th:unless="(${student.lastName[0]} != ${students[iterStat.index-1].lastName[0]})" th:text="${student.lastName} + ' ' + ${student.firstName}">${student.name}</th:block></td>
                    <td><th:block th:if="${student.group}"><a th:href="@{/groups/view/{id_group}(id_group=${student.group.id})}" th:text="${student.group.name}">${student.group.name}</a></th:block><th:block th:unless="${student.group}" th:text="'n/a'"></th:block></td><th:block sec:authorize="hasAuthority('EDITOR') or hasAuthority('ADMIN')">
                    <td><a th:href="@{/students/edit/{id}(id=${student.id})}">edit</a><th:block sec:authorize="hasAuthority('ADMIN')"> / <a th:href="@{admin/students/delete/{id}(id=${student.id})}" onclick="return confirm('Are you sure?')">delete</a></th:block></td></th:block>
                </tr>
            </tbody>
            </th:block>
            <th:block th:unless="${studentComparator}">
            <tbody>
                <tr><td th:colspan="${#authorization.expression('hasAnyAuthority(''EDITOR'', ''ADMIN'')')} ? 3 : 2" class="pt-0 pb-0">Nothing to show</td></tr>
            </tbody>
            </th:block>
        </table> 
	</div>
<th:block th:replace="~{fragments/html_blocks :: end_block}" />